
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/yeucauthue.css" />
    <title>Yêu cầu thuê</title>
</head>
<body>
    <div class="b-content">
        <p class="title">
            <span>
                SỔ THUÊ XE
            </span>
        </p>
        <div class="bang">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã yêu cầu</th>
                        <th>Khách hàng</th>
                        <th>Thời gian gửi</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var thue in ViewBag.dsThue)
                    {
                        <tr>
                            <td scope="row">@thue.IDThue</td>
                            <td>@thue.IDKhach</td>
                            <td>@thue.NgayTao</td>
                            <td>@thue.TinhTrangThue</td>
                            <td class="cot-btn">
                                <button class="btn btn-secondary">
                                    @Html.ActionLink("Xem chi tiết", "chitietsothuexe", "sothuexe", new { idThue = thue.IDThue }, null)
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>


    </div>
</body>
</html>


