@model HeThongThueXe.Models.PHANHOI
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/Content/LienHe.css" />
    <title>a</title>
</head>
<body>
    <div class="main">
        <div class="container main__content">
            <div class="main__content--content">
                <h3 class="main__content--content---title">
                    <span>Liên hệ</span>
                </h3>
                <div class="main__content--content---lienhe">
                    <div class="row">
                        <div class="col-lg-6 lienhe-left">
                            @using (Html.BeginForm("ThemLienHe", "LienHe", FormMethod.Post))
                            {
                                <div class="mb-3 form-group row">
                                    <label class="form-label col-sm-3">Họ tên</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.TenKhach, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="mb-3 form-group row">
                                    <label class="form-label col-sm-3">Đia chỉ</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="mb-3 form-group row">
                                    <label class="form-label col-sm-3">Email</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="mb-3 form-group row">
                                    <label class="form-label col-sm-3">Điện thoại</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.SDT, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="mb-3 form-group row">
                                    <label class="form-label col-sm-3">Tiêu đề</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.TieuDe, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="mb-3 form-group row">
                                    <label class="form-label col-sm-3">Nội dung</label>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(m => m.NoiDung, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="mb-3 form-group row">
                                    @*<div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" style="padding:8px 16px" class="btn btn-success">
                            <i class="fa fa-envelope"></i>
                            Gửi
                        </button>
                        <button type="reset" style="padding:8px 16px" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                            Hủy
                        </button>
                        </div>*@
                                    <input type="submit" value="Submit" />
                                </div>
                            }



                        </div>
                        <div class="col-lg-6 lienhe-right">
                            <p>Dịch vụ thuê xe HUFLIT</p>
                            <p>Địa chỉ 1: 828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. Hồ Chí Minh</p>
                            <p>Email: phannguyenminhphat1@gmail.com</p>
                            <p>GPDKKD: 0123456789 do sở KH & ĐT TP.HCM cấp ngày 27/03/2018</p>
                        </div>

                    </div>
                </div>
            </div>
            @Html.Partial("_MenuPartialView")
        </div>
    </div>

</body>
</html>

