@model HeThongThueXe.Models.PHANHOI

@{
    ViewBag.Title = "ThemLienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Model.TieuDe
@Model.NoiDung
@Model.TenKhach
@Model.SDT
@Model.Email
<h2>ThemLienHe</h2>

