@model HeThongThueXe.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/LoginAdmin.css" />
    <title>Admin</title>
</head>
<body>
    <div class="main">
        <div class="main__box">
            <p class="main__box--title">
                <span>ADMIN WEB</span>
            </p>
            @using (Html.BeginForm("Index", "LoginAdmin", FormMethod.Post, new { @class = "main__box--form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="form-group">
                    <div class="field-validation-error">
                        @Html.DisplayFor(m => m.LoginMessageError)
                    </div>
                </div>
                <div class="main__box--click">
                    <input class="main__box--click submit" type="submit" value="ĐĂNG NHẬP" />
                </div>
            }
        </div>
    </div>
</body>
</html>
