@model HeThongThueXe.Models.XE

@{
    ViewBag.Title = "ChiTietXe";
    var xe = ViewBag.xe;

    List<SelectListItem> listLoaiXe = new List<SelectListItem>();
    foreach (var temp in ViewBag.dsLoaiXe)
    {
        listLoaiXe.Add(new SelectListItem() { Text = temp.TenLoaiXe, Value = temp.IDLoaiXe.ToString() });
    }

    List<SelectListItem> listHieuXe = new List<SelectListItem>();
    foreach (var temp in ViewBag.dsHieuXe)
    {
        listHieuXe.Add(new SelectListItem() { Text = temp.TenHieuXe, Value = temp.IDHieuXe.ToString() });
    }

    var selectedLoaiXe = listLoaiXe.Where(x => x.Value == xe.IDLoaiXe.ToString()).First();
    selectedLoaiXe.Selected = true;

    var selectedHieuXe = listHieuXe.Where(x => x.Value == xe.IDHieuXe.ToString()).First();
    selectedHieuXe.Selected = true;


    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Chitietyeucauthue.css" />
    <title>ChiTietYeuCauThue</title>
</head>
<body>
    @using (Html.BeginForm("SuaXe", "QuanLyXe", FormMethod.Post))
    {
        <div class="b-content">
            <div class="thongtinyeucauthue">
                <p class="title">
                    <span>
                        THÔNG TIN XE
                    </span>
                </p>
                <div class="content__form">
                        <div class="form-group f-group">
                            <label for="">Mã xe</label>
                            @Html.TextBoxFor(m => m.IDXe, new { @class = "form-control", @Value = xe.IDXe, @readonly = "true" })
                        </div>
                        <div class="form-group f-group">
                            <label for="">Loại xe</label>
                            @Html.DropDownListFor(m => m.IDLoaiXe, listLoaiXe, new { @class = "form-control", id = "select-loaiXe" })
                        </div>
                        <div class="form-group f-group">
                            <label for="">Hiệu xe</label>
                            @Html.DropDownListFor(m => m.IDHieuXe, listHieuXe, new { @class = "form-control", id = "select-hieuXe" })
                        </div>
                        <div class="form-group f-group">
                            <label for="">Tên xe</label>
                            @Html.TextBoxFor(m => m.TenXe, new { @class = "form-control", @Value = xe.TenXe })
                        </div>
                        <div class="form-group f-group">
                            <label for="">Biển số xe</label>
                            @Html.TextBoxFor(m => m.BienSoXe, new { @class = "form-control", @Value = xe.BienSoXe })
                        </div>
                </div>
            </div>

        </div>
        <div class="area-button">
            <input type="submit" class="btn btn-success xacnhan" value="Lưu thay đổi" onclick="reload()"/>
        </div>
    }
    </body>
</html>

<script>
    const reload = () => {
        window.location.reload();
    }
</script>
